@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }


   */

*:not(button) {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}
button{
  font-family :"Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
h1{
  font-size: 96px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: -50px;
}
h2 {
  font-size: 90px;
  text-align: center;
}
h3 , .about-col p {
  font-size: 36px;
}
.product .product-text div {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 3px;
}
.product .product-text .product-name{
font-size: 1.05rem;

}
.product .product-text .product-price{
  font-weight: 800;
  font-size: 1.1rem;
  
}
.product .product-text .product-desc{
color:#777;
font-size: .9rem;
  
}

.about-col{
  font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}